

header {
    background-color: rgb(60, 60, 60);
    height: 200px;
    width: 100%;
}

section {
    background-color: lightgray;
    height: 800px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

#div1 {
    background-color: white;
    height: 80%;
    width: 80%;
}

#div2 {
    background-color: black;
    height: 20%;
    width: 80%;
}